In [2]:
import pandas as pd
df = pd.read_csv("data_biology.csv")
df

,sample,group,cell_count,protein_level,growth_rate,temperature,ph,oxygen
0,S01,Control,110,2.1,0.75,20,7.2,8.1
1,S02,Control,115,2.2,0.78,20,7.1,8.0
2,S03,Control,120,2.4,0.80,25,7.2,7.9
3,S04,Control,130,2.5,0.82,25,7.3,7.8
4,S05,Control,140,2.6,0.85,30,7.4,7.6
5,S06,Control,145,2.7,0.87,30,7.3,7.5
6,S07,Control,150,2.8,0.88,35,7.5,7.3
7,S08,Control,148,2.7,0.86,35,7.4,7.2
8,S09,Control,142,2.6,0.84,35,7.3,7.1
9,S10,Control,135,2.5,0.83,30,7.2,7.4
10,S11,Treated,155,3.0,0.95,20,7.2,8.0
11,S12,Treated,160,3.1,0.98,20,7.1,7.9
12,S13,Treated,165,3.3,1.02,25,7.2,7.8
13,S14,Treated,170,3.4,1.05,25,7.3,7.7
14,S15,Treated,180,3.6,1.10,30,7.4,7.5
15,S16,Treated,185,3.7,1.12,30,7.3,7.4
16,S17,Treated,190,3.8,1.15,35,7.5,7.2
17,S18,Treated,195,3.9,1.18,35,7.4,7.1
18,S19,Treated,200,4.0,1.20,35,7.3,7.0
19,S20,Treated,198,3.9,1.17,30,7.2,7.3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sample         20 non-null     object
 1   group          20 non-null     object
 2   cell_count     20 non-null     int64
 3   protein_level  20 non-null     float64
 4   growth_rate    20 non-null     float64
 5   temperature    20 non-null     int64
 6   ph             20 non-null     float64
 7   oxygen         20 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ KB

In [5]:
df.describe()

,cell_count,protein_level,growth_rate,temperature,ph,oxygen
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,156.650000,3.040000,0.960000,28.500000,7.290000,7.540000
std,28.062477,0.615074,0.150997,5.642881,0.116529,0.342437
min,110.000000,2.100000,0.750000,20.000000,7.100000,7.000000
25%,138.750000,2.575000,0.837500,25.000000,7.200000,7.275000
50%,152.500000,2.900000,0.915000,30.000000,7.300000,7.500000
75%,181.250000,3.625000,1.105000,35.000000,7.400000,7.825000
max,200.000000,4.000000,1.200000,35.000000,7.500000,8.100000

In [7]:
df[["cell_count","protein_level"]]

    cell_count  protein_level
0          110            2.1
1          115            2.2
2          120            2.4
3          130            2.5
4          140            2.6
5          145            2.7
6          150            2.8
7          148            2.7
8          142            2.6
9          135            2.5
10         155            3.0
11         160            3.1
12         165            3.3
13         170            3.4
14         180            3.6
15         185            3.7
16         190            3.8
17         195            3.9
18         200            4.0
19         198            3.9

In [7]:
treated=df[df["group"]=="Treated"]
treated

NameError: name 'df' is not defined